$color1: #1AF1FF;
$color2: #E0E0E0;
$color3: rgb(66, 148, 219);
$color4: #1AF1FE;
$color5: #77BAF6;

$theme-colors: ('color1': $color1,
    'color2': $color2,
    'color3': $color3,
    'color4': $color4,
    'color5': $color5,
);


body {
    background-color: #f6f6f6;
}

.bg-light {
    background-color: #fff !important;
}

.img-cort {
    height: 267px !important;
    width: 267px !important;
    //filter: hue-rotate(160deg);
}

.w-45 {
    width: 45% !important;
}

.gradient {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.mx-4 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
}

header,
.contato {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contato {
    background-image: url(../img/final2.jpg);
    background-position: center;
}

header {
    background-image: url(../img/img2.jpg);
}

.header::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.445);
    position: absolute;
}

.all-news {
    display: table;
    margin: 50px auto 0;
    padding: 10px;
    border: 1px solid #444;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #444;
}

.all-news:hover {
    box-shadow: 0 0 2px #444;
    color: rgb(144, 71, 71)
}

.all-news,
.all-news:hover {
    text-decoration: none;
}

.text-col {
    margin-top: -85px;
}

.text-col-1 {
    margin-top: -60px;
}

@import '../../node_modules/bootstrap/scss/bootstrap';