$color1: #1AF1FF;
$color2: #E0E0E0;
$color3: rgb(66, 148, 219);
$color4: #1AF1FE;
$color5: #77BAF6;

$theme-colors: ('color1': $color1,
    'color2': $color2,
    'color3': $color3,
    'color4': $color4,
    'color5': $color5,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #f6f6f6;
}

.bg-light {
    background-color: #fff !important;
}

.img-cort {
    height: 267px !important;
    width: 267px !important;
    //filter: hue-rotate(160deg);
}

.w-45 {
    width: 45% !important;
}

.gradient{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.mx-4 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
}

header{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.header::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.445);
    position: absolute;
}